---
title: Pattern Library
layout: layouts/base.njk
---

<main id="main" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="doc-section">
    <div class="doc-section__header">
     
    </div>
  </div>

  <div class="doc-section">
    
    <div class="doc-section__header">

      <div class="row">
      <div class="column">
        <div class="image-container">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2021/04/green-salad-1.jpg" style="width:130px; height: 130px; border-radius: 50%">
          </div>
     
        <div class="container">
          <h4 class="title-recipe-category">Vegetarian</h4> 
        </div>
    </div>
      </div>
    </div>
  </div>

</main>
