---
title: Pattern Library
layout: layouts/base.njk
---

<div class="imageflex">
  <img src="https://lingkarjateng.id/wp-content/uploads/2021/11/PESONA-1.jpg" class="chef-image">
  <div class="imageflexcontent">
  <p class="chef-name">A Chef</p>
  <p class="chef-total-recipe">32 Recipes</p>
  </div>
</div>
  