---
title: Pattern Library
layout: layouts/base.njk
---

<main id="main" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="doc-section">
    <div class="doc-section__header">
     
    </div>
  </div>

  <div class="doc-section">
    
    <div class="doc-section__header">

      <div class="column">
        <div class="image-container">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2021/04/green-salad-1.jpg" style="width:80%; height: 50%; border-radius: 5%">
            <div class="btn"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
        <div class="container">
            <h4 class="title-recipe">Spaghetti</h4> 
            <p class="upload-date">05 Jan 2024, Jenny Lee</p> 
            <p class="desc-recipe">Twirl into flavor with this easy spaghetti recipe!</p> 
                  <div class="d-flex align-items-center flex-wrap">
                      <p class="cook-time">
                          <i class="fa-regular fa-clock" ></i>
                          20 mins
                        </p>
                  </div>
                  <div class="d-block">
                  </div>
          </div>
      </div>
  </div>

</main>
