<div class="food-container">
 <div class="doc-swatch" >
    <img alt="Image">
    <div class="bookmark-icon">
        <i class="fa fa-bookmark"></i>
    </div>
 </div>
 <p>Judul</p>
 <p>Date, author</p>
 <p>Desc</p>
 <p>Duration</p>
</div>